@import "~src/styles";

#add-task-container {
	width: 100%;
	display: flex;
}

#add-task-input {
	.input();
	border-radius: @rs 0 0 @rs;
	border-right: 2px solid @bg600;
}

#add-task-button {
	.icon-add();
	.button();
	background-position: center;
	background-repeat: no-repeat;
	background-size: 30px;
	transition: background-color 0.2s ease-in-out;
	border-radius: 0 @rs @rs 0;

}

#edit-tasks-button {
	.button();
	transition: background-color 0.2s ease-in-out;
	margin-left: @ms;
	background-size: 30px;
	&.edit {
		.icon-edit();
		background-position: center;
		background-repeat: no-repeat;
		background-size: 30px;
		background-color: @bg700;
	}
	&.cancel {
		.icon-cancel();
		background-position: center;
		background-repeat: no-repeat;
		background-size: 30px;
		background-color: @bg700;
	}
}
