@import "~src/styles";

.task-card-container {
	.container();
	background-color: @bg400;
	border-radius: @rs;
	height: 54px;
	&:not(.editing-task) {
		cursor: pointer;
	}
}

.task-card-name {
	font-family: @textFont;
	color: @text;
	flex-shrink: 1;
	margin: auto auto auto @mm;
	font-size: 18px;
	letter-spacing: 1.5px;
}

.option-div {
	width: 60px;
	height: 100%;
	transition: background-color 0.2s ease-in-out;

	border-radius: @rs;
	&:hover {
		cursor: pointer;
	}
	&.option-done {
		background-color: @bg400;
		transition: all 0.2s ease-in-out;
		&.checked {
			.icon-check();
			background-position: center;
			background-repeat: no-repeat;
			background-size: 30px;
		}
		&.unchecked {
			.icon-uncheck();
			background-position: center;
			background-repeat: no-repeat;
			background-size: 30px;
		}
	}
	&.option-delete {
		.icon-del();
		background-position: center;
		background-repeat: no-repeat;
		background-size: 30px;
		transition: all 0.2s ease-in-out;
		background-color: @danger;
		opacity: 0.9;
		&:hover {
			background-color: @danger;
			opacity: 1;
		}
	}
}



