@import '~src/styles';

.home {
	width: 100%;
	height: 100%;
	background-color: @bg700;
	display: flex;
	flex-direction: column;
}

#task-container {
	padding: @pl;
	width: calc(100% - @ml * 2);
	box-sizing: border-box;
	margin: @ml @ml auto @ml;
	border-radius: @rm;
	background-color: @bg500;
	@media(min-width: @tablet) {
		width: 50%;
		margin: @ml auto auto auto;
	}
}
