@import '~src/styles';

.home {
	width: 100%;
	height: 100%;
	background-color: @bg700;
	display: flex;
	flex-direction: column;
}

#task-container {
	padding: @pl;
	box-sizing: border-box;
	margin: @ml auto auto auto;
	border-radius: @rm;
	background-color: @bg500;
}
