@import "~src/styles";

#header {
	width: 100%;
	display: flex;
	padding: @pm;
	box-sizing: border-box;
	background-color: @bg500;
}

#logo {
	font-family: @logoFont;
	font-size: 40px;
	color: @text;
	width: 100%;
	text-align: center;
}
