@import "~src/styles";

#task-list {
	.flex-col();
	width: 100%;
	margin-top: @ml;
	flex-shrink: 1;
	height: calc(100% - 41px - @ml);
	overflow-y: auto;
	scroll-snap-type: y mandatory;

}

.app-task-card {
	margin-bottom: @mm;
	scroll-snap-align: start;
	&:last-child {
		margin-bottom: 0;
	}
}

.cdk-drag-preview {
	box-sizing: border-box;
	border-radius: 4px;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
}

.cdk-drag-placeholder {
	opacity: 0;
}

.cdk-drag-animating {
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.app-task-card:last-child {
	border: none;
}

.no-tasks-card-container {
	.container();
	background-color: @bg400;
	margin-top: @mm;
	border-radius: @rs;
	height: 54px;
	&:hover .delete-div {
		width: 60px;
	}
}

.no-tasks-card-name {
	font-family: @textFont;
	color: @text;
	flex-shrink: 1;
	margin: auto auto auto @mm;
	font-size: 18px;
	letter-spacing: 1.5px;
}

#task-list.cdk-drop-list-dragging .app-task-card:not(.cdk-drag-placeholder) {
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
