<app-add-task (editEvent)="onEditChange($event)"></app-add-task>

<div
	*ngIf="!!tasks?.length; else noTasksTemplate"
	cdkDropList
	id="task-list"
	(cdkDropListDropped)="drop($event)"
>
	<app-task-card
		class="app-task-card"
		cdkDrag
		cdkDragLockAxis="y"
		*ngFor="let task of tasks"
		[cdkDragData]="task"
		[task]="task"
		[tasks]="tasks"
		[editing]="editing"
	></app-task-card>
</div>
<ng-template #noTasksTemplate>
	<div class="no-tasks-card-container">
		<span class="no-tasks-card-name">add a task</span>
	</div>
</ng-template>
